Repository voxpupuli/puppet-icingaweb2, pull requests merged in 2019-07, with the labels that each got.

#238 Remove question marks of parameter db_port
  README.md
Labels: bug, documentation

#239 Add parameter poold_purge to class phpfpm
  examples/nginx.pp
Labels: documentation, enhancement

#241 Document logging config option 'php'
  manifests/init.pp
Labels: documentation, enhancement

#242 Add logging config option php
  manifests/init.pp
Labels: enhancement
