Repository voxpupuli/puppet-icingaweb2, pull requests merged in 2023-01, with the labels that each got.

#334 Add audit module support
  examples/module_audit.pp
  manifests/module/audit.pp
  spec/classes/audit_spec.rb
Labels: enhancement, cla/signed

#335 Add support for Role permission refusals
  manifests/config/role.pp
  spec/defines/role_spec.rb
Labels: enhancement, cla/signed

#337 Add missing parameter parent and unrestricted in role
  examples/role.pp
  examples/roles.pp
  manifests/config/role.pp
Labels: bug, cla/signed

#338 Set module to absent should only disable the module
  README.md
  examples/module_icingadb-pgsql.pp
  manifests/module.pp
  spec/classes/doc_spec.rb
  spec/classes/monitoring_spec.rb
  spec/defines/module_spec.rb
Labels: cla/signed

#341 Add support reporting module
  data/Linux-kernel.yaml
  data/common.yaml
  examples/apache.pp
  examples/apache2.pp
  examples/authmethod.pp
  examples/custom_module_grafana.pp
  examples/custom_module_map.pp
  examples/director-mysql.pp
  examples/director-pgsql.pp
  examples/groupbackend.pp
  examples/icingadb-mysql.pp
  examples/icingadb-pgsql.pp
  examples/icingaweb2-mysql.pp
  examples/icingaweb2-pgsql.pp
  examples/import_schema-mysql.pp
  examples/import_schema-pgsql.pp
  examples/init.pp
  examples/init_repos.pp
  examples/module_audit.pp
  examples/module_businessprocess.pp
  examples/module_cube.pp
  examples/module_director.pp
  examples/module_elasticsearch.pp
  examples/module_fileshipper.pp
  examples/module_generictts.pp
  examples/module_graphite.pp
  examples/module_icingadb-mysql.pp
  examples/module_icingadb-pgsql.pp
  examples/module_monitoring.pp
  examples/module_puppetdb.pp
  examples/monitoring-mysql.pp
  examples/monitoring-pgsql.pp
  examples/nginx.pp
  examples/reporting-mysql.pp
  examples/reporting-pgsql.pp
  examples/resource.pp
  examples/roles.pp
  manifests/globals.pp
  manifests/init.pp
  manifests/module/reporting.pp
  manifests/module/reporting/service.pp
  templates/icinga-reporting.service.epp
Labels: enhancement, cla/signed

#343 Add support for navigation items
  examples/monitoring-mysql.pp
  manifests/config/navigation.pp
  manifests/install.pp
  spec/defines/navigation_spec.rb
Labels: enhancement, cla/signed

#344 Add support for dashboards
  manifests/config/dashboard.pp
  manifests/config/dashlet.pp
  manifests/config/navigation.pp
  manifests/install.pp
Labels: enhancement, cla/signed

#345 Fix broken idempotency when importing any db schema
  manifests/module/director.pp
  manifests/module/reporting.pp
  manifests/module/vspheredb.pp
Labels: bug, cla/signed

#346 bump puppet/systemd to < 5.0.0
  metadata.json
Labels: enhancement

#347 Fix compatibility for db schema imports in Icinga Web 2 2.11.4
  data/Debian.yaml
  data/FreeBSD.yaml
  data/Linux-kernel.yaml
  manifests/globals.pp
  manifests/install.pp
Labels: bug, cla/signed
